<%= form_for(@page, :html => {:class => "uniform"}) do |page_form| %>
  <div>
    <div id="general">
      <dl class="inline">
        <dt><%= page_form.label :title  %></dt>
        <dd>
        <%= page_form.text_field :title  %>
        </dd>

        <dt><%= page_form.label :slug, 'Url'  %></dt>
        <dd>
        <%= page_form.text_field :slug  %>
        </dd>

        <dt><%= page_form.label :page_title  %></dt>
        <dd>
        <%= page_form.text_field :page_title  %>
        </dd>

        <dt><%= page_form.label :keywords  %></dt>
        <dd>
          <%= page_form.text_field :keywords  %>
        </dd>
        
        <dt><%= page_form.label :desc  %></dt>
        <dd>
        <%= page_form.text_area :desc, :cols => 35 , :rows => 4  %>
        </dd>
      </dl>
    </div>
  </div>


  <div class="buttons">
    <%= page_form.submit "Save", :class => 'button' %>
    <%= link_to "Back", pages_path, :class => 'button white' %>
  </div>
<% end %>